In [1]:
print("Hello")

Hello

Markdown

In [16]:
myString = "abcdefghijk"
myString[3:10:2]

'dfhj'

In [19]:

myString[::-1]
x = "hello world"
print(x.split("o"))

'kjihgfedcba'

In [32]:

print("this is a {} string".format("nice"))

this is a nice string

In [40]:
print("the  {f} {b} {f} ".format(f="fox",n="nice", b="brown", ))

the  fox brown fox

Float formatting follows

In [70]:
x=100/8.1
print(f"Rounded off {x:10.4f}")

Rounded off    12.3457

In [95]:
myList = ["one", 2, 3.0]
print(myList[0:2])

anotherList = ["four", 5, 6.0]

newList = myList + anotherList
print(newList)
newList[0] = newList[0].upper()
newList.append("seven")
print(newList)



poppedItem = newList.pop(1)
print(newList)
print("poppedItem" , poppedItem)

['one', 2]
['one', 2, 3.0, 'four', 5, 6.0]
['ONE', 2, 3.0, 'four', 5, 6.0, 'seven']
['ONE', 3.0, 'four', 5, 6.0, 'seven']
poppedItem 2

In [102]:
numList = [1, 32, 45, 6, 54, 24]
numList.sort()
print(numList)
numList.reverse()

print(numList)

[1, 6, 24, 32, 45, 54]
[54, 45, 32, 24, 6, 1]

In [121]:
map = {"name":"jaya", "location":"Bangalore", "numbers" : [0,1,2], "values" : {"val1": 1, "val2": 2}}
print(map["numbers"][1:2])
print(map["values"]["val1"])
print(map.keys())
print(map.values())

print(map.items())

[1]
1
dict_keys(['name', 'location', 'numbers', 'values'])
dict_values(['jaya', 'Bangalore', [0, 1, 2], {'val1': 1, 'val2': 2}])
dict_items([('name', 'jaya'), ('location', 'Bangalore'), ('numbers', [0, 1, 2]), ('values', {'val1': 1, 'val2': 2})])

TUPLES

In [126]:
tup = ('a', 'a', 'b')
print(tup.count('b'))
print(tup.index('a'))

1
0

In [155]:
myset = set()
myset.add(1)
print(myset)
myset.add(2)
print(myset)
myset.add(2)
print(myset)

mylist = [1,2,3,3,3,4,4,4,4,1,1,1,11,2,2,2,2]
print(mylist)
uniqueSet = set(mylist)
print(uniqueSet)

{1}
{1, 2}
{1, 2}
[1, 2, 3, 3, 3, 4, 4, 4, 4, 1, 1, 1, 11, 2, 2, 2, 2]
{1, 2, 3, 4, 11}

In [154]:
mis = set('jaya')
mis.add('chris')
mis

{'a', 'chris', 'j', 'y'}

In [157]:
type(False)
1>2

False

In [150]:
1==1

True

In [158]:
b = None
b

In [162]:
set([1,1,2,3])

{1, 2, 3}

In [211]:
%%writefile myfile.txt
Heloo this is a test text file
2nd license
3rd line

Overwriting myfile.txt

In [182]:
myfile = open('myfile.txt')
myfile.read()

'Heloo this is a test text file\n2nd license\n3rd line\n'

In [185]:
myfile.seek(0)
myfile.read()

'Heloo this is a test text file\n2nd license\n3rd line\n'

In [192]:
myfile.seek(0)
fileLines = myfile.readlines()
print(fileLines[1])
myfile.close()

ValueError: I/O operation on closed file.

In [197]:
with  open('myfile.txt') as my_file:
    contents = my_file.readlines()

In [199]:
contents

['Heloo this is a test text file\n', '2nd license\n', '3rd line\n']

In [223]:
with  open('myfile.txt', mode='a' ) as my_file:
    # contents = my_file.read()
    my_file.write("\nnew line 3")

contents

'Heloo this is a test text file\n2nd license\n3rd line\nnew line\nnew line\nnew line\nnew line\nnew line'

In [6]:
with open("jaya.txt", mode='a') as f:
    f.write("brand new file")

In [7]:
with open("jaya.txt", mode='r') as f:
    print(f.read())

brand new filebrand new filebrand new file

# Control

In [19]:
hungry  = False
if hungry:
    print("its true!!!")
else: 
    print("not hungry")

not hungry

In [22]:
loc = 'Bank'
if loc=="Auto Shop":
    print("Cars are cool")
elif loc=='Bank':
    print("ohh money")
else:
    print("not sure ")

ohh money

# Foor Loop

In [36]:
mylist = [1,2,3,4,5,6,7,8,9,10]
for num in mylist:
    #print(num)
    if num % 2 == 0:
        print("Even {}".format(num))
    else:
        print(f"Odd number is {num}" )


list_sum = 0
for num in mylist:
    list_sum = list_sum + num
    print(list_sum)

Odd number is 1
Even 2
Odd number is 3
Even 4
Odd number is 5
Even 6
Odd number is 7
Even 8
Odd number is 9
Even 10
1
3
6
10
15
21
28
36
45
55

In [39]:
list_sum = 0
for num in mylist:
    list_sum = list_sum + num
    print(list_sum)

1
3
6
10
15
21
28
36
45
55

In [42]:
mystring = "Hello World"
for letter in mystring:
    print(letter)

for _ in mystring:
    print("Cool!")

H
e
l
l
o

W
o
r
l
d
Cool!
Cool!
Cool!
Cool!
Cool!
Cool!
Cool!
Cool!
Cool!
Cool!
Cool!

In [45]:
tup = (1,2,3)
for i in tup:
    print(i)

1
2
3

In [49]:
#tuple unpacking
mytuplist = [(1,2),(3,4),(5,6), (7,8)]
len(mytuplist)
for item in mytuplist:
    print(item)

(1, 2)
(3, 4)
(5, 6)
(7, 8)

In [53]:
for (a,b) in mytuplist: #duplicate structure of tuple unpacking;
    print (a)
    print(b)

1
2
3
4
5
6
7
8

In [59]:
#tuple unpacking
mytuplist = [(1,2,'a'),(3,4,'b'),(5,6,'c'), (7,8,'d')]
len(mytuplist)
for a,b,c in mytuplist:
    print(c)

a
b
c
d

In [68]:
diction = {'k1':1, 'k2':2, 'k3':3}
for item in diction:
    print (item) #prints only key

for item in diction.items():
    print (item) #prints value

for key, value in diction.items():
    print (value) #prints  with tuple unpacking

for value in diction.values(): #get only values
    print (value) #prints  with tuple unpacking

k1
k2
k3
('k1', 1)
('k2', 2)
('k3', 3)
1
2
3
1
2
3

# WHILE LOOP

In [76]:
x = 0
while x < 3:
    x += 1     #or write as x = x+1;
    print (x)
else:
    print("x is not less than 3")

1
2
3
x is not less than 3

In [82]:
x = [1,2,3,4]
for item in x:
    pass

print("end of script")

end of script

In [89]:
mystring = "sammy"
for letter in mystring:
    if letter == 'a':
        continue
    if letter == 'm':
        break
    print(letter)

s

In [97]:
x = 0
while x < 5:
    x +=1
    if x == 2:
        continue
    print(x)

1
3
4
5

# useful operators

In [102]:
x = [1,2,3,4]
for item in range(1,10,2):
    print(item)

1
3
5
7
9

In [104]:
list(range(1,10))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [105]:
index_count = 0
for letter in 'abcde':
    print('At index {} the letter is {}'.format(index_count, letter))
    index_count += 1

At index 0 the letter is a
At index 1 the letter is b
At index 2 the letter is c
At index 3 the letter is d
At index 4 the letter is e

In [109]:
word = 'abcde'
for index, letter in enumerate(word):
    print(index)
    print(letter)
    print('\n')

0
a


1
b


2
c


3
d


4
e

In [117]:
mylist1 = [1,2,3,4,5]
mylist2 = ['a','b','c','d','e']
mylist3 = [100, 200, 300, 400, 500,600]

for item in zip(mylist1, mylist2, mylist3):
    print(item)


list(zip(mylist1,mylist2,mylist3))

(1, 'a', 100)
(2, 'b', 200)
(3, 'c', 300)
(4, 'd', 400)
(5, 'e', 500)

[(1, 'a', 100), (2, 'b', 200), (3, 'c', 300), (4, 'd', 400), (5, 'e', 500)]

In [122]:
'x' in [1,2,3]

False

In [124]:
'x' in ['x','y','z']

True

In [125]:
'a' in 'a world'

True

In [127]:
'mykey' in {'mykey':100}

True

In [133]:
d = {'mykey': 100}
print(100 in d.values())
'mykey' in d.keys()

True

True

In [137]:
mylist = [10,20,30,40,100]
print(min(mylist))
print(max(mylist))
print(sum(mylist))

10
100
200

In [139]:
from random import shuffle

In [147]:
mylist = [1,2,3,4,5,6,7,8,9]
shuffle(mylist)
print(mylist)

[7, 8, 1, 9, 5, 3, 6, 2, 4]

In [165]:
from random import randint
myrand = randint(0,100)
myrand

97

In [180]:
result = int(input("Enter a number:") )
print("Result is", result)
type(result)

print(type(result))

Result is 300
<class 'int'>

# List Comprehension

In [182]:
mystring = 'hello'
mylist = []
for letter in mystring:
    mylist.append(letter)

print (mylist)

['h', 'e', 'l', 'l', 'o']

In [184]:
mystring = 'hello'
mylist = [letter for letter in mystring]

print (mylist)

['h', 'e', 'l', 'l', 'o']

In [187]:
mylist = [x**3 for x in range (1,5)]

print (mylist)

[1, 8, 27, 64]

In [189]:
mylist = [x**2 for x in range (1,5) if x %2 ==0]
print (mylist)

[4, 16]

In [191]:
celcius = [0,10,20,34.5]
fahrenheit = [ ((9/5)* temp + 32) for temp in celcius ]
fahrenheit

[32.0, 50.0, 68.0, 94.1]

In [195]:
results = [ x if x %2==0 else 'ODD' for x in range (0,10)]
results

[0, 'ODD', 2, 'ODD', 4, 'ODD', 6, 'ODD', 8, 'ODD']

In [196]:
mylist = []
for x in [2,4,6]:
    for y in [1, 100, 100]:
        mylist.append(x*y)

mylist

[2, 200, 200, 4, 400, 400, 6, 600, 600]

In [199]:
mylist = [x*y for x in [2,4,6] for y in [1,100,1000]]
mylist

[2, 200, 2000, 4, 400, 4000, 6, 600, 6000]

# methods and functions

In [204]:
mylist = [1,2,3,4]
mylist.append(5)
mylist.pop(2)
mylist.insert(1,100)

mylist

[1, 100, 2, 4, 5]

In [205]:
help(mylist.insert)

Help on built-in function insert:

insert(index, object, /) method of builtins.list instance
    Insert object before index.

In [230]:
import secrets
#secrets.randbelow(1000)
secrets.randbits(100)

267406043340842517474143727372

In [231]:
# Functions